<div class="flex flex-col flex-auto min-w-0 overflow-auto bg-card dark:bg-transparentt">
  <!-- Header -->
  <div class="relative flex flex-row flex-0 items-center justify-between py-8 px-6 md:px-8 border-b">
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="text-4xl font-extrabold tracking-tight flex items-baseline">
      <mat-icon class="cursor-pointer mr-2" svgIcon="heroicons_outline:chevron-left" (click)="back()"></mat-icon>
      <div class="flex flex-col">
        Edit address
      </div>
    </div>
    <!-- Actions -->
    <div class="flex shrink-0 items-center">
      <!-- Add save button -->
      <button class="ml-4" mat-flat-button [color]="'primary'" (click)="saveAddress()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">Save</span>
      </button>
    </div>
  </div>

  <div class="bg-card shadow rounded-2xl my-8 p-6 md:p-8 mx-6 md:mx-8">
    <mat-form-field class="w-full">
      <mat-label>First name <sup class="text-warn">*</sup></mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Last name <sup class="text-warn">*</sup>
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email <sup class="text-warn">*</sup></mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Company</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Country</mat-label>
      <mat-select>
        <mat-option [value]="'value1'">Country 1</mat-option>
        <mat-option [value]="'value2'">Country 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>State / province</mat-label>
      <mat-select>
        <mat-option [value]="'value1'">State 1</mat-option>
        <mat-option [value]="'value2'">State 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>County / region
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>City <sup class="text-warn">*</sup></mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Address 1 <sup class="text-warn">*</sup></mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Address 2</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Zip / postal code <sup class="text-warn">*</sup>
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Phone number <sup class="text-warn">*</sup></mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Fax number
      </mat-label>
      <input matInput>
    </mat-form-field>
  </div>

</div>